<form class="p-0">
  <div class="mt-5">
    <label for="username" class="ml-2 mb-4">Nombre de usuario</label>
    <input
      type="text"
      name="username"
      class="block w-full p-2 border rounded-full border-pageColor-gray focus:outline-none focus:ring-1 focus:ring-pageColor-yellow focus:border-transparent"
      placeholder="Ingrese su nombre de usuario"
    />
  </div>

  <div class="mt-5">
    <label for="password" class="ml-2 mb-4">Contraseña</label>
    <input
      type="password"
      name="password"
      class="block w-full p-2 border rounded-full border-pageColor-gray focus:outline-none focus:ring-1 focus:ring-pageColor-yellow focus:border-transparent"
      placeholder="Ingrese su contraseña"
    />
  </div>
  <div class="flex mt-10">
    <!-- component -->
    <button
      type="submit"
      class="mx-auto bg-pageColor-black hover:bg-pageColor-yellow text-white text-sm px-4 py-2 border rounded-full"
    >
      Iniciar Sesion
    </button>
  </div>
</form>
