<body class="bg-white">
  <!-- url('/img/hero-pattern.svg') -->
  <div class="flex min-h-screen bg-white">
    <div
      class="w-1/2 bg-cover bg-pageColor-yellow md:block hidden"
      style="
        background-image: url(https://images.pexels.com/photos/7216927/pexels-photo-7216927.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
      "
    ></div>
    <!-- <div class="bg-no-repeat bg-right bg-cover max-w-max max-h-8 h-12 overflow-hidden">
            <img src="log_in.webp" alt="hey">
        </div> -->

    <div class="md:w-1/2 max-w-lg mx-auto my-24 px-4 py-5 shadow-none">
      <div class="text-left p-0 font-sans">
        <h1 class="text-gray-800 text-3xl font-medium">Inicia Sesion</h1>
      </div>
      <app-login-form></app-login-form>
    </div>
  </div>
</body>
